a#content-network {
    color: rgb(139, 138, 138);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}


a#content-network:hover {
    color: white;
    box-shadow: #333366 0px -50px 36px -28px inset;
    transition: all 0.3s ease-in-out;
}
