footer{
    margin-top: 1.5rem;
    color: white;
    background-color: #333366;
    text-decoration: none;
}

.footer-copyright.text-center.py-3 {
    background-color: #4447a7;
}

.logo-footer{
    display: flex;
}

.text-footer-acl{
    font-size: 15px;
}

a#text-footer {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

a#text-footer:hover {
    color: rgba(255, 255, 255, 0.61);
}

@media screen and (max-width: 768px ) and (min-width: 600px)  {
    .footer-tab {
        width: 12rem;
    }

   }

   @media only screen and (max-width: 600px) {
    .text-footer-acl{
        font-size: 8px;
    }
  }