/* start tab new event  */
div#v-pills-tabContent {
    width: 100%;
}

div#v-pills-tab {
    width: 15rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    /* background-color: #2E3192; */
}

.naratip{
    background-color: red;
}

/* end tab new event  */


/* start photo and video */
.swis-photo{
    padding: 0 150px 0 150px;
}

.swis-video{
    padding: 0 150px 0 150px;
}

.see-more{
    padding: 10px;
    text-decoration: none;
    color: #2E3192;
    transition: 0.5s;
}

.see-more:hover{
    padding-left: 40px;
    color: #2E3192;
}

ul#pills-tab {
    justify-content: center;
}
/* end photo and video */

@media screen and (max-width: 768px) {
    .d-flex.align-items-start{
        display: flex;
        flex-direction: column;
    }
    div#v-pills-tab {
        margin-bottom: 2rem;
        width: 100%;
        height: auto;
    }
    

    .swis-photo{
        padding: 0;
    }

    .swis-video{
        padding: 0;
    }
    
}
