.card-content{
    transition: 0.5s;
}

.card-content:hover{
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
}

.image-link{
    transition: 0.5s;
}

.image-link:hover{
    opacity: 0.4;
}

.image-size{
    height: 276px;
}



.icon-head{
       width: 100px; 
       height: 100px;
       margin-top: 1.8rem;
}

.head-card{
    color: #282897;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .image-size{
        height: 180px;
    }
    
}

@media screen and (max-width: 600px) {
    .icon-head{
        width: 80px; 
        height: 80px;
        margin-top: 1.8rem;
    }
}
