/* start tab new event  */
div#v-pills-tabContent {
    width: 100%;
}

div#v-pills-tab {
    width: 15rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    /* background-color: #2E3192; */
}

.naratip{
    background-color: red;
}

/* end tab new event  */


/* start photo and video */
.swis-photo{
    padding: 0 150px 0 150px;
}

.swis-video{
    padding: 0 150px 0 150px;
}

.see-more{
    padding: 10px;
    text-decoration: none;
    color: #333366;
    transition: 0.5s;
}

.see-more:hover{
    padding-left: 40px;
    color: #333366;
}

ul#pills-tab {
    justify-content: center;
}
/* end photo and video */

.tab-content-menu{
    font-size: 20px;
    width: 12.7rem;
    height: 10rem;
    font-weight: bold;
    background-color: #333366;
}

.image-tab{
    width: 60px;
    height: 60px;
    margin:  12px 0 12px 0;
}

@media screen and (max-width: 1024px) {
    .d-flex.align-items-start{
        display: flex;
        flex-direction: column;
    }
    div#v-pills-tab {
        margin-bottom: 2rem;
        width: 100%;
        height: auto;
    }
    

    .swis-photo{
        padding: 0;
    }

    .swis-video{
        padding: 0;
    }

    .tab-container{
        display: flex;
        justify-content: center;
    }
    .tab-content-menu{
        font-size: 15px;
        width: 8rem;
        height: 8rem;
        background-color: #333366;
        /* color: #333366; */
    }

    .image-tab{
        
        width: 50px;
        height: 50px;
        /* margin:  12px 0 12px 0; */
    }
    
}


@media screen and (max-width: 600px) {
    .tab-content-menu{
        font-weight: bold;
        font-size: 7px;
        width: 4.2rem;
        height: 6rem;
        background-color: #333366;
        /* color: #333366; */
    }

    .image-tab{
        
        width: 35px;
        height: 35px;
        /* margin:  12px 0 12px 0; */
    }
}



